{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('assets/css/dashboard.admin.css') }}">

	<div class="pane-info pt-5 pb-2 bg-sLightYellow">

	</div>

	<div class="calendar-container">
		<div id="calendar"></div>
	</div>

	<div class="pane-list-salles bg-sPurple" style="height: 100vh;">
		
	</div>

	<script src="{{ asset('assets/js/fullCalendar.js') }}"></script>
	{# <script src="{{ asset('assets/js/dashboard.admin.js') }}"></script> #}
{% endblock %}
