{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="pane-info p-absolute bg-danger">
    <div class="container">
        <ul>
            <li>Salle 1</li>
            <li>Salle 2</li>
            <li>Salle 3</li>
        </ul>
    </div>
</div>
<div class="container">
    
</div>
{% endblock %}
