<header class="container-fluid ">
        <nav class="d-flex justify-content-between py-4 align-items-center p-5 navbar border-bottom border-sPurple mb-5">
        <img src="{{ asset('assets/imgs/logo_semettes.jpg') }}" height="70">
    </nav>
</header>
