<!DOCTYPE html>
<html>
	{{ include ('partials/_header.html.twig') }}
	<body>
		<header>
		
		</header>
		{% block body %}
		
		{% endblock %}
		{{ include ('partials/_footer.html.twig') }}
	</body>
</html>
